@import "tailwindcss";
@import 'tailwind-animations';

:root{
  font-family: 'Montserrat', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:#090a0c;
}

button:hover {
  cursor: pointer;
}